/* ************************************** FONT STYLES ************************************ */
h3 {
    color: white;
}

h4 {
    font-size: 1.50em;
}

p {
    color: white;
    font-size: 1.25em;
}

.fontBlack {
    color: black;
}

/* ************************************* NAV BAR STYLING ************************************************* */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  
  .navbar-nav li a:hover {
    color:  #357396 !important;
  }

/* ************************************* SECTION WITH PROFILE IMG STYLING ********************************** */

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.imgCircle {
    height: 300px;
    border-radius: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* ************************************* SECTION STYLING ********************************************** */
.sectionHeader {
    padding-bottom: 2%;
}

.sectionText{
    padding: 2% 10%;
}

.mediaImg{
    height:128px;
    width: 128px;
    padding: 1%;
}

.mediaFlexBox{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2% 10%;
}

.background1 {
    background-color: #357396;
}

.background2 {
    background-color: lightslategray;
}

.background5{
    background-color: #2f2f2f;
    color: #ffffff;
}


